<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.program.moonlight-qt">
        <category id="update" label="30002">
            <group id="update_settings" label="30002">
                <setting id="update_action" label="30003" type="action">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.program.moonlight-qt/?mode=update)</data>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control format="action" type="button">
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
<!--
https://kodi.wiki/view/Add-on_settings_conversion
https://fossies.org/linux/xbmc/system/settings/settings.xml
-->